<!DOCTYPE html>
<html>
<%-include("partials/header.ejs")-%>
    <head>
    </head>

    <body> 
        <h1> About</h1>
        <p>
            <%=about%>
        </p>
    </body>

</html>

<%-include("partials/footer.ejs")-%>