
<!DOCTYPE html>
<%-include('partials/header.ejs')-%> <!--go into the subfolder with thhis method -->

<html>


<body>
    <h1> contact</h1>
    <p> <%=contact %> 

    </p>

</body>
</html>

<%-include('partials/footer.ejs')-%>